body {
  font: 20px 'Poppins', sans-serif;
  line-height: 1.8;
  /*color: #f5f6f7;*/
  background-color :#101010 ;
}

p {
  font-size: 38px;
  text-shadow: 0 0 20px #fff,
    0 0 40px #fff,
    0 0 50px #fff;
  color: #fff;
  background-color: #100c08;
  border-image: linear-gradient(#f9004d, black, cyan) 30;
  border-width: 10px;
  border-style: solid;
}

.margin {
  margin-bottom: 45px;

}

.bg-2 {
  background: url(bg2.jpg);
  color: #ffffff;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 10px;
  letter-spacing: 5px;
  background-color: black;
  font-weight: bold;
}

.navbar-nav li a.active {
  background-color: #f9004d;
  border-radius: 5px;
  color: white;
}

.navbar-nav li a:hover {
  color: #f9004d !important;
  transition: .5s;
}

.navbar-brand span {
  color: #f9004d;
  text-shadow: 0 0 20px #f9004d,
    0 0 40px #f9004d,
    0 0 60px #f9004d;
}

h3 {
  color: #f9004d;
  font-weight: bold;
  font-size: 50px;
}

.kulay {
  color: cyan;
}

.kulay span {
  color: #f9004d;
}

.margin {
  color: #f9004d;
}

.margin span {
  color: cyan;
}

hr {
  width: auto;
  margin: 1px 330px;
  height: 5px;
  background-image: -webkit-linear-gradient(left, orange, #f9004d, cyan);
}
i {
  color: cyan;
  text-shadow: 0 0 20px cyan,
    0 0 40px cyan,
    0 0 60px cyan,
    0 0 80px cyan,
    0 0 100px cyan,
    0 0 120px cyan;
}
